.list-view {
    width: 80vw;
    margin: 10px auto;
    display: flex;
    height: 30px;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(197, 195, 195);
    font-weight: 100;
}