.menu {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    height: 40px;
    background-color: rgb(244, 244, 245);
    display: flex;
    align-items: center;
    border-radius: 5px;
}